.comming-soon {
    animation: commingSoon 7s linear alternate;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

@keyframes commingSoon {
    0% {
        transform: translateY(-300px);
        background-color: aqua;
        color: blue;
    }

    20% {
        transform: translateY(0px);
        background-color: blue;
        color: aqua;
    }

    40% {
        transform: translateY(-200px);
        background-color: aqua;
        color: blue;
    }

    60% {
        transform: translateY(0px);
        background-color: blue;
        color: aqua;
    }

    70% {
        transform: translateY(-150px);
        background-color: aqua;
        color: blue;
    }

    100% {
        transform: translateY(0px);
        background-color: blue;
        color: aqua;
    }
}

.sticksDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    position: relative;
    top: 20px;
    left: 4px;
    padding: 7px;
}

.sticks {
    border: 4px solid white;
    height: 460px;
}

@media screen and (max-width:550px) {
    .comming-soon {
        font-size: 25px !important;
    }

    .sticks {
        /* border: 2px solid white; */
        height: 460px;
    }

    .sticksDiv {
        padding: 5px;
        top: 10px;
        left: 3px;
    }
}

@media screen and (max-width:255px) {
    .comming-soon {
        font-size: 20px !important;
    }

    .sticks {
        /* border: 2px solid white; */
        height: 460px;
    }

    .sticksDiv {
        padding: 5px;
        top: 10px;
        left: 3px;
    }
}